.itemStyleSender{
    position: relative;
    width: 70%;
    color: #f3f3f3;
    background-color: #3e6694;
    left: 25%;
    border-radius: 8px;

    margin: 10px 10px 10px 10px;
    border: 2px solid #f0efef;

}

.itemStyleSender > p{
    margin:  8px 8px 8px 8px ;

}

.itemStyleReceiver{
    position: relative;
    width: 70%;
    background-color: #f1f1f1;
    border-radius: 8px;

    margin: 10px 10px 10px 10px;
    border: 2px solid #dedede;
}

.itemStyleReceiver > p{
    margin:  8px 8px 8px 8px ;
}