.itemStyle {
    height:70px;
}

.itemStyle > p{
    font-size: 24px;
    font-family:  Georgia;
    padding: 16px 0 16px 36px;
    margin: 0;

}

.itemStyle > img{
    border-radius: 40%;
    float: right;
    width: 48px;
    margin: 16px 36px 0  0;
} 

.itemStyle > h5{
    position: relative;
    bottom: 8px;
    margin: 0 0 0 32px ;
    color: #3e6694
}


.itemStyle > hr{
    width: 85%;
    margin: 0 0 0 16px ;
   
}