
/* div (bottom left) where you see all differents convos   */

body  {
  padding:0;
  margin: 0;
  min-height: 100%;
}

input {
  padding-top: 10px;
}

.App {

  min-height: 100%;
}

.ConvosList{
    position: relative;
    float: left;
    left: 50px;
    padding-top: 10px;

    width: 23%;
    height: 75%;
    font-weight: bold;
    color:white;

    background-color: #ececec;
    /* this item has no border, use to see the actual component */
    /* border:  1px solid #a1a1a1; */
  }

/* Entire div (bottom middle) where you see all elements of actual conversation: title, messages....   */
.ConversationBox{
  position: absolute;
  float: left;
  top: 150px;
  left: 345px;
  
  margin: 0 36px 0 36px;
  width: 70%;
  height: 75%;
 
  background-color: white;
  /* border:  1px solid #a1a1a1;  */

}

/* The title of the actual convo */
.ConvoTitle {
  position: absolute;
  float: left;
  text-align: center;
  padding: 12px 0 0 0 ;
  background-color: #3e6694;

  width: 75%;
  height: 8%;
  border:  1px solid #3e6694;
}

  .ConvoTitle > h2 {
    position: relative;
    font-family:  Georgia;
    font-weight: bolder;
    font-size: 20px;
    color: #ebe9e9; 
    margin: 0 0 0 0;

  }

/* Button to make the conversation public or private */
.ConversationBox .PublicButton{
  position: relative ;
  top: 50px;
  left: 82%;
  font-family: Georgia;
  font-weight: bold;
  background-color: #f5f5f5;

}

  .PublicButton{
    position: relative ;
    font-family: Georgia;
    top: 50px;
    left: 82%;
    background-color: #f5f5f5;

  }

  .NotPublicButton{
    position: relative ;
    font-family: Georgia;
    top: 50px;
    left: 82%;
    background-color: #3e6694;


  }


/* Actual convo messages */
.ChatBox{
  position: relative;
  /* float: left; */
  /* margin: 8px 8px 8px 8px; */
  top: 2%;

  width: 75%;
  height: 80%;

  background-color: white;

  border:  1px solid #a1a1a1;
}

/* Textholder to right a message */
.TextBox > input[type=text]{
  position: absolute;
  top: 90%;  

  height: 9%;
  width: 75%;
  margin: 0 0 0 0 ;
  padding:  0 0 0 0;

  background-color: #ececec;
  border:  1px solid #a1a1a1;
  text-indent: 10px;
}

/* Top blue bar that holds the New Convo '+' Button */
.NewConvoTopBar{
  position: relative;
  top: 5px;
  right: 3%;

  height: 64px;
  width: 94%;
  margin: auto;
  /* border:  1px solid #a1a1a1; */
}

/* Bottom on top left with the '+' sign to search for a new convo */
.AddNewConvoButton{
  top: 6px;
  left: 36px;
  background-color: #3e6694;
}

.TitleBar{
  position: fixed;
  top: 0;
  width:100%;
  text-align: center;

  height: 64px;
  margin: auto;
  border:  1px solid #a1a1a1;
  background-color: #3e6694; 
}

  .TitleBar > h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia;
    margin: 8px 0 0 0;
    text-shadow: -1px 0 #5c7a9c, 0 1px #5c7a9c, 1px 0 #5c7a9c, 0 -1px #5c7a9c;

    
  }








